<% if !(cookies[:voted].length == 0) && JSON.parse(cookies[:voted]).include?(vote.id) %>
  You've already voted<br>
  <% JSON.parse(vote.vote_count).each do |k,v| %>
    <%= k %> - <%= v %><br>
  <% end %>
<% else %>
  <form action="/vote/<%= vote.id %>" method="POST">
    <% JSON.parse(vote.options).each do |option| %>
      <label><%= option %><input name="options" type="radio" value="<%= option %>"></label>
    <% end %>
    <input type="submit" value="submit">
  </form>
<% end %>