<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>
  <%= render "layouts/nav" %>
  <%= render "layouts/hero"  %>
    <br><br><br>
    <%= render "devise/sessions/new" %>
    <%= render "devise/registrations/new" %>
  <div class="wrap">
    <%= yield %>
  </div>
  <%#= debug(params) if Rails.env.development? %>
</body>
</html>
